.header {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-bottom: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 1.2rem;
}

.anchor:hover,
.anchor:focus,
.anchor:active {
  color: #0070f3;
}